### Detectar formacion de canal Bajista - Alcista

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import yfinance as yf
import talib as ta
import matplotlib.pyplot as plt
import math
from datetime import date, timedelta
from scipy import stats
from scipy.signal import argrelextrema
from bokeh.plotting import figure, show, column
from bokeh.models import NumeralTickFormatter, Span
from sklearn.linear_model import LinearRegression

In [2]:
df_h = pd.read_csv(r"D:\PRUEBAS\dataxh.txt", sep="\t")
tickers = [
     'SPY',
    'META',
    'AAPL'
]

#    'SPY',
#    'META',
#    'AAPL',
#    'AMZN',
#    'NFLX',
#    'MRNA',
#    'TSLA',
#    'TNA',
#    'GLD',
#    'SLV',
#    'USO',
#    'BAC',
#    'CVX',
#    'XOM',
#    'QQQ'

In [3]:
df_h['datetime'] = pd.to_datetime(df_h['datetime'])
df = pd.DataFrame()
for ticker in tickers:
    company = df_h.query("companyName==@ticker").copy()
    company.sort_values(by=['datetime'])
    #company = yf.download(ticker, start = ini2_str, end = today_str, interval='60m')
    #company.columns = [company.columns[0][0], company.columns[1][0], company.columns[2][0], company.columns[3][0], company.columns[4][0]]
    #company.rename(columns={'Datetime':'Gmt time'}, inplace = True)
    #company['datetime'] = pd.to_datetime (company.index)
    #company['companyName'] = ticker
    company['SMA35'] = company['Close'].rolling(35).mean()
    company.dropna(inplace=False)
    company['SMA50'] = company['Close'].rolling(50).mean()
    company.dropna(inplace=False)
    company['EMA35'] = company['Close'].ewm(span=35, adjust=False).mean()
    company.dropna(inplace=False)
    company['EMA50'] = company['Close'].ewm(span=50, adjust=False).mean()
    company.dropna(inplace=False)
    
    #company['SMA100'] = company['Close'].rolling(100).mean()
    #company.dropna(inplace=False)
    #company['SMA200'] = company['Close'].rolling(200).mean()
    #company.dropna(inplace=False)
    
    df = pd.concat([df, company],ignore_index=True)

### Detect Pivots/Fractals

In [4]:
ord=15
ord2=5
#for ticker in tickers:
#print("====", ticker)
#dfpl = df[(df.companyName==ticker)] #df.query("companyName=='AAPL'")
max_idx = argrelextrema(df['Close'].values, np.greater, order=ord)[0]
min_idx = argrelextrema(df['Close'].values, np.less, order=ord)[0]

max_idx2 = argrelextrema(df['Close'].values, np.greater, order=ord2)[0]
min_idx2 = argrelextrema(df['Close'].values, np.less, order=ord2)[0]
#print(max_idx)
#print(min_idx)
#df['pivotHigh'] = np.nan
#df['pivotLow'] = np.nan
#df['isPivot'] = np.nan
#df['isPivot'] = np.nan
# Aplicar el cálculo solo a los índices en la lista
df.loc[max_idx, 'pivotHigh'] = df['High']+1e-3
df.loc[min_idx, 'pivotLow'] = df['Low']-(1e-3)
df.loc[max_idx, 'isPivot'] = 1
df.loc[min_idx, 'isPivot'] = 2

df.loc[max_idx2, 'pivotHigh2'] = df['High']+1e-3
df.loc[min_idx2, 'pivotLow2'] = df['Low']-(1e-3)
df.loc[max_idx2, 'isPivot2'] = 1
df.loc[min_idx2, 'isPivot2'] = 2

###### Canales bajistas, 
###### - Cuando el PM de 40 esta por encima del PM de 20 en direccion desendente
###### - Cuando se dan el cruce de medias moviles 35 y 50

In [5]:
#df = df.drop(columns=['cruce_medias']) # Drops column 'B'

In [6]:
# Señal: 1 = compra, -1 = venta, 0 = nada
#df['prev_SMA35'] = df['SMA35'].shift(1)
#df['prev_SMA50'] = df['SMA50'].shift(1)
df['prev_EMA35'] = df['EMA35'].shift(1)
df['prev_EMA50'] = df['EMA50'].shift(1)


#Cruce de medias
#df['cruce_medias'] = 0
#df.loc[(df['prev_SMA35'] < df['prev_SMA50']) & (df['SMA35'] > df['SMA50']), 'cruce_medias'] = 1  # Golden Cross (Compra)
#df.loc[(df['prev_SMA35'] > df['prev_SMA50']) & (df['SMA35'] < df['SMA50']), 'cruce_medias'] = -1 # Death Cross (Venta)

df['cruce_medias'] = 0
df.loc[(df['prev_EMA35'] < df['prev_EMA50']) & (df['EMA35'] > df['EMA50']), 'cruce_medias'] = 1  # Golden Cross (Compra)
df.loc[(df['prev_EMA35'] > df['prev_EMA50']) & (df['EMA35'] < df['EMA50']), 'cruce_medias'] = -1 # Death Cross (Venta)

In [7]:
df["cdlengulfing"] = ta.CDLENGULFING(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlhammer"] = ta.CDLHAMMER(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlmorningstar"] = ta.CDLMORNINGSTAR(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlpiercing"] = ta.CDLPIERCING(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlclosingmarubozu"] = ta.CDLCLOSINGMARUBOZU(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlmarubozu"] = ta.CDLMARUBOZU(df['Open'], df['High'], df['Low'], df['Close'])
df["cdl3whitesoldiers"] = ta.CDL3WHITESOLDIERS(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlharami"] = ta.CDLHARAMI(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlharamicross"] = ta.CDLHARAMICROSS(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlinvertdhammer"] = ta.CDLINVERTEDHAMMER(df['Open'], df['High'], df['Low'], df['Close'])
df["cdlladderbottom"] = ta.CDLLADDERBOTTOM(df['Open'], df['High'], df['Low'], df['Close'])

In [8]:
#df = df.drop(columns=['indcaso']) # Drops column 'B'

In [9]:
df_casos = pd.DataFrame()
caso = 0
ticker2 = ""
window=5
backeval=75
backevalTrend=0
dfpl = pd.DataFrame
trendH = []
trendL = []

ispivot=0
for i, row in df.iterrows():
    #if (i==512):
    cant = 0
    cant2 = 0
    ind_sl=0
    ind_trendHL=0

    ticker = df['companyName'][i]
    #Reinicio de casos por company
    if ticker2 != ticker:
        ticker2 = ticker
        caso = 0
    dfpl = df[(df.companyName==ticker)].loc[i-backeval:i+backeval].copy()
            
    #if (dfpl["cruce_medias"][i]==-1):
    #    #print("posible caso a la BAJA:",i, df['companyName'][i])
    #    ispivot=1
    #    ispivot2=2
    #    if (sl<0):
    #        #print("h1")
    #        ind_sl=1
    #
    #elif (dfpl["cruce_medias"][i]==1):
    #    #print("posible caso a la ALZA:",i, df['companyName'][i])
    #    ispivot=2
    #    ispivot2=1
    #    if (sl>0):
    #        #print("h2")
    #        ind_sl=1
    ind_sl=0
    tipo=""
    if ((dfpl["cruce_medias"][i]==-1) | (dfpl["cruce_medias"][i]==1)):
        if (dfpl["cruce_medias"][i]==-1):
           tipo="BAJA" 
        else:
            tipo="ALZA"
        print("posible caso:",i, df['companyName'][i], "==>", tipo)

        #Se dio el cruce de medias, antes existio un pivot high aprox 2 dias como maximo
        fecha= dfpl['datetime'][i]
        #fecha_limite = dfpl['datetime'][i] - pd.Timedelta(days=2) #resta dias calendarios
        fecha_limite = dfpl['datetime'][i] - pd.offsets.BDay(2) #resta dias laborables
        #print("fecha:", dfpl['datetime'][i] ,", fecha_limite:", fecha_limite)
        
        #cnt1 = dfpl.query("isPivot==@ispivot and datetime>=@fecha_limite and datetime<=@fecha")["isPivot"].count()
        #cnt2 = dfpl.query("isPivot==@ispivot2 and datetime>=@fecha_limite and datetime<=@fecha")["isPivot"].count()

        cnt1=1
        cnt2=0

        indiceFinal=0
        
        #print("cantidad:", cnt)
        if (cnt1>0 and cnt2==0):
            #Obtener casos      
            #print("h00")
            if (dfpl["cruce_medias"][i]==1): #ALCISTA               
                #ALZA, velas por encima de promedios moviles
                #ultimo high por encima y ultimo low cerca a los promedios
                siguiente_H = dfpl[(dfpl.index>=i) & ((dfpl["isPivot"]==1) | (dfpl["isPivot2"]==1))].head(1)
                if (siguiente_H.shape[0]>0):
                    if (siguiente_H.iloc[0]['High']>siguiente_H.iloc[0]['EMA35']):
                        indice = siguiente_H.index[0]
                        siguiente_L = dfpl[(dfpl.index>indice) & ((dfpl["isPivot"]==2) | (dfpl["isPivot2"]==2))].head(1)
                        if (siguiente_L.shape[0]>0):
                            if (((siguiente_L.iloc[0]['Low']-siguiente_L.iloc[0]['EMA35'])<1) &  (siguiente_L.iloc[0]['Low']<siguiente_H.iloc[0]['High'])):
                                indiceFinal = siguiente_L.index[0]

            elif (dfpl["cruce_medias"][i]==-1): #BAJISTA                    
                #BAJA, velas por debajo de promedios moviles
                #ultimo low por debajo y ultimo high cerca a los promedios
                #print("h01")
                siguiente_L = dfpl[(dfpl.index>=i) & ((dfpl["isPivot"]==2) | (dfpl["isPivot2"]==2)) ].head(1)
                if (siguiente_L.shape[0]>0):
                    #print("h02")
                    if (siguiente_L.iloc[0]['Low']<siguiente_L.iloc[0]['EMA35']):
                        #print("h03")
                        indice = siguiente_L.index[0]
                        #print("indice:", indice)
                        siguiente_H = dfpl[(dfpl.index>indice) & ((dfpl["isPivot"]==1) | (dfpl["isPivot2"]==1))].head(1)
                        if (siguiente_H.shape[0]>0):
                            #print("h04:",siguiente_H.index[0])
                            if (((siguiente_H.iloc[0]['EMA35']-siguiente_H.iloc[0]['High'])<1) & (siguiente_H.iloc[0]['High']>siguiente_L.iloc[0]['Low'])):
                                #print("h05")
                                indiceFinal = siguiente_H.index[0]

            #print ("indiceFinal:", indiceFinal)
            if (indiceFinal>0):
                #print("h0")
                ultimos_2H = dfpl[(dfpl["isPivot"]==1) | (dfpl["isPivot2"]==1)].loc[:indiceFinal].tail(2)
                ultimos_2L = dfpl[(dfpl["isPivot"]==2) | (dfpl["isPivot2"]==2)].loc[:indiceFinal].tail(2)
                    
                if (ultimos_2H.shape[0]==2 & ultimos_2L.shape[0]==2):
                    #print("h1")
                    penultimo_valorH = ultimos_2H.iloc[0]['High']
                    ultimo_valorH = ultimos_2H.iloc[1]['High']
                    penultimo_valorL = ultimos_2L.iloc[0]['Low']
                    ultimo_valorL = ultimos_2L.iloc[1]['Low']

                    #En caso de tendencia ALCISTA
                    #tomar los 2 ultimos HH – Higher High (Maximos mas Altos)
                    #tomar los 2 ultimos HL – Higher Low (Maximos mas bajos)
                    if (dfpl["cruce_medias"][i]==1): #ALCISTA
                        #print("h2")
                        if ((ultimo_valorH>penultimo_valorH) | (ultimo_valorL>penultimo_valorL)):
                            #print("h21")
                            ind_trendHL=1

                    #En caso de tendencia BAJISTA
                    #tomar los 2 ultimos LH – Lower High (Minimos mas Altos)
                    #tomar los 2 ultimos LL – Lower Low (Minimos mas bajos)
                    elif (dfpl["cruce_medias"][i]==-1): #BAJISTA
                        #print("h3")
                        if ((ultimo_valorH<penultimo_valorH) | (ultimo_valorL<penultimo_valorL)):
                            #print("h31")
                            ind_trendHL=1

            #print("indiceFinal:",indiceFinal,",ind_trendHL:",ind_trendHL)

            if (indiceFinal>0):
                #Inicio determinar slope que indica tendencia al ALZA o a la BAJA
                medias35 = dfpl.loc[i:indiceFinal].EMA35.values
                idxmedias35 = dfpl.loc[i:indiceFinal].EMA35.index
                medias50 = dfpl.loc[i:indiceFinal].EMA50.values
                idxmedias50 = dfpl.loc[i:indiceFinal].EMA50.index
                if ((len(medias35)>=2) and  (len(medias50)>=2)):
                    sl35, interc35, r_value35, _, _ = stats.linregress(idxmedias35,medias35)
                    sl50, interc50, r_value50, _, _ = stats.linregress(idxmedias50,medias50)
                #Fin slope
        
                if (dfpl["cruce_medias"][i]==1): #ALCISTA
                    #Revision de pendiente
                    if (sl35>0 and sl50>0 #Pendiente positiva
                       #and np.isclose(sl35, sl50, atol=1e-5) #Verificar si son paralelas
                       #and interc35>interc50 #La línea 35 está por encima de la línea 50
                       ):
                        ind_sl=1
                elif (dfpl["cruce_medias"][i]==-1): #BAJISTA 
                    #Revision de pendiente
                    if (sl35<0 and sl50<0 #Pendiente negativa
                        #and np.isclose(sl35, sl50, atol=1e-5) #Verificar si son paralelas
                        #and interc50>interc35 #La línea 50 está por encima de la línea 35
                       ):
                        ind_sl=1
    
            #print("sl35:",sl35,"sl50:",sl50)
            #print("interc35:",interc35,"interc50:",interc50, ", ind_sl:", ind_sl)

            
            
            if ((indiceFinal>0) and (ind_trendHL>0) and (ind_sl>0)):
                #print("h4")
                #INSERT CASO
                caso=caso+1
                dfpl.loc[i,'ind_posicion']=0
               

                #Final de caso es siguiente Pivot
                if (dfpl["cruce_medias"][i]==1): #ALCISTA
                    dfpl.loc[indiceFinal,'isBreakOutIni']=1
                    k=0
                    while (k<=3):
                        cnt2 = dfpl.query("index>@indiceFinal and isPivot==1").shape[0]
                        if cnt2>0:        
                            id2 = dfpl.query("index>@indiceFinal and isPivot==1").index[0]
                            dfpl.loc[id2,'isBreakOutFinal'] = 1
                            k=4
                        else:
                            idfinal = dfpl.index[-1] 
                            idfinal2 = idfinal+25
                            if idfinal2 in df[df['companyName']==ticker].index:
                                dfpl2 = df[(df.companyName==ticker)].loc[idfinal+1:idfinal2].copy()
                                dfpl = pd.concat([dfpl, dfpl2],ignore_index=False)                           
                            else:                  
                                dfpl['isBreakOutFinal'] = np.nan
                            k=k+1
                           
                
                        
                elif (dfpl["cruce_medias"][i]==-1): #BAJISTA
                    dfpl.loc[indiceFinal,'isBreakOutIni']=-1
                    k=0
                    while (k<=3):
                        cnt2 = dfpl.query("index>@indiceFinal and isPivot==2").shape[0]
                        if cnt2>0:        
                            id2 = dfpl.query("index>@indiceFinal and isPivot==2").index[0]
                            dfpl.loc[id2,'isBreakOutFinal'] = -1
                            k=4
                        else:
                            idfinal = dfpl.index[-1] 
                            idfinal2 = idfinal+25
                            if idfinal2 in df[df['companyName']==ticker].index:
                                dfpl2 = df[(df.companyName==ticker)].loc[idfinal+1:idfinal2].copy()
                                dfpl = pd.concat([dfpl, dfpl2],ignore_index=False)                           
                            else:                  
                                dfpl['isBreakOutFinal'] = np.nan
    
                            k=k+1

                
                if (df["cruce_medias"][i]==-1):                    
                    df.loc[i,'ind_posicion']=-1                    
                    df.loc[indiceFinal,'isBreakOutIni']=-1
                    df.loc[id2,'isBreakOutFinal']=-1
                elif (df["cruce_medias"][i]==1):                        
                    df.loc[i,'ind_posicion']=1                   
                    df.loc[indiceFinal,'isBreakOutIni']=1
                    df.loc[id2,'isBreakOutFinal']=1

                #print("h5")
                dfpl["caso"] = caso
                print(i, df['companyName'][i], ", cruce medias:",df["cruce_medias"][i],", slope35:", sl35, ", slope50:", sl50)
                if len(df_casos)<1:
                    df_casos = dfpl
                else:
                    df_casos = pd.concat([df_casos, dfpl],ignore_index=False)

posible caso: 22 SPY ==> BAJA
22 SPY , cruce medias: -1 , slope35: -0.07934301034719624 , slope50: -0.06400623303169807
posible caso: 48 SPY ==> ALZA
48 SPY , cruce medias: 1 , slope35: 0.24577412254642428 , slope50: 0.1989712377727817
posible caso: 212 SPY ==> BAJA
212 SPY , cruce medias: -1 , slope35: -0.18260016581871708 , slope50: -0.14115528949812053
posible caso: 340 SPY ==> ALZA
340 SPY , cruce medias: 1 , slope35: 0.17555931399589864 , slope50: 0.16701117424564785
posible caso: 394 SPY ==> BAJA
posible caso: 395 SPY ==> ALZA
395 SPY , cruce medias: 1 , slope35: 0.04149601880466476 , slope50: 0.03303738893741972
posible caso: 428 SPY ==> BAJA
428 SPY , cruce medias: -1 , slope35: -0.1544552233125668 , slope50: -0.12313649729010304
posible caso: 542 SPY ==> ALZA
posible caso: 596 SPY ==> BAJA
posible caso: 664 SPY ==> ALZA
posible caso: 949 SPY ==> BAJA
949 SPY , cruce medias: -1 , slope35: -0.11455394346089216 , slope50: -0.09734176410930492
posible caso: 978 SPY ==> ALZA
978 SPY , cruce medias: 1 , slope35: 0.15386077133013756 , slope50: 0.11737145120869896
posible caso: 1391 SPY ==> BAJA
1391 SPY , cruce medias: -1 , slope35: -0.11178856266566299 , slope50: -0.08167795110047109
posible caso: 1503 SPY ==> ALZA
posible caso: 1520 SPY ==> BAJA
posible caso: 1534 SPY ==> ALZA
posible caso: 1661 SPY ==> BAJA
1661 SPY , cruce medias: -1 , slope35: -0.23751910259959005 , slope50: -0.18236966096729118
posible caso: 1687 SPY ==> ALZA
posible caso: 1893 SPY ==> BAJA
1893 SPY , cruce medias: -1 , slope35: -0.14935895153640255 , slope50: -0.12449996159828222
posible caso: 2016 SPY ==> ALZA
2016 SPY , cruce medias: 1 , slope35: 0.4989666958607685 , slope50: 0.4449937247127592
posible caso: 2117 SPY ==> BAJA
posible caso: 2164 SPY ==> ALZA
posible caso: 2373 SPY ==> BAJA
posible caso: 2375 SPY ==> ALZA
posible caso: 2403 SPY ==> BAJA
posible caso: 2434 SPY ==> ALZA
posible caso: 2493 SPY ==> BAJA
posible caso: 2513 SPY ==> ALZA
posible caso: 2635 SPY ==> BAJA
posible caso: 2755 SPY ==> ALZA
posible caso: 2843 SPY ==> BAJA
posible caso: 2846 SPY ==> ALZA
2846 SPY , cruce medias: 1 , slope35: 0.08787811892132397 , slope50: 0.07153550465902887
posible caso: 2927 SPY ==> BAJA
posible caso: 3069 SPY ==> ALZA
posible caso: 3097 SPY ==> BAJA
3097 SPY , cruce medias: -1 , slope35: -0.279930914017293 , slope50: -0.24227290921902228
posible caso: 3181 SPY ==> ALZA
posible caso: 3192 SPY ==> BAJA
3192 SPY , cruce medias: -1 , slope35: -0.38275671472046807 , slope50: -0.3083399558323607
posible caso: 3219 SPY ==> ALZA
posible caso: 3516 SPY ==> BAJA
posible caso: 3530 SPY ==> ALZA
3530 SPY , cruce medias: 1 , slope35: 0.087782342240439 , slope50: 0.06781159706339963
posible caso: 3703 META ==> BAJA
3703 META , cruce medias: -1 , slope35: -0.23640455895878582 , slope50: -0.21438858279558926
posible caso: 3728 META ==> ALZA
3728 META , cruce medias: 1 , slope35: 0.7192094247635422 , slope50: 0.575317738314568
posible caso: 3790 META ==> BAJA
3790 META , cruce medias: -1 , slope35: -0.2775663465720147 , slope50: -0.22701593227976882
posible caso: 3895 META ==> ALZA
3895 META , cruce medias: 1 , slope35: 0.2040246877584999 , slope50: 0.16230541039929805
posible caso: 3999 META ==> BAJA
3999 META , cruce medias: -1 , slope35: -0.08291874217015603 , slope50: -0.07085882944274145
posible caso: 4039 META ==> ALZA
4039 META , cruce medias: 1 , slope35: 0.15594714087796516 , slope50: 0.11636861987826705
posible caso: 4146 META ==> BAJA
4146 META , cruce medias: -1 , slope35: -0.16829001610861763 , slope50: -0.13721284020694716
posible caso: 4214 META ==> ALZA
posible caso: 4339 META ==> BAJA
posible caso: 4396 META ==> ALZA
4396 META , cruce medias: 1 , slope35: 0.3452583804169994 , slope50: 0.264799352446039
posible caso: 4494 META ==> BAJA
4494 META , cruce medias: -1 , slope35: -0.12002687226527682 , slope50: -0.0959089956905587
posible caso: 4512 META ==> ALZA
posible caso: 4841 META ==> BAJA
4841 META , cruce medias: -1 , slope35: -0.19532501699854585 , slope50: -0.1661515132908723
posible caso: 4866 META ==> ALZA
posible caso: 4903 META ==> BAJA
4903 META , cruce medias: -1 , slope35: -0.5397680301107746 , slope50: -0.4055867498236846
posible caso: 4930 META ==> ALZA
posible caso: 4986 META ==> BAJA
posible caso: 5097 META ==> ALZA
posible caso: 5169 META ==> BAJA
posible caso: 5171 META ==> ALZA
posible caso: 5175 META ==> BAJA
posible caso: 5186 META ==> ALZA
5186 META , cruce medias: 1 , slope35: 0.042096385993874476 , slope50: 0.057217459313260645
posible caso: 5212 META ==> BAJA
5212 META , cruce medias: -1 , slope35: -0.31750430492771314 , slope50: -0.25216118217620365
posible caso: 5226 META ==> ALZA
posible caso: 5408 META ==> BAJA
5408 META , cruce medias: -1 , slope35: -1.2146048383072896 , slope50: -0.9976574819082946
posible caso: 5504 META ==> ALZA
5504 META , cruce medias: 1 , slope35: 0.3379753931049102 , slope50: 0.2918336382262668
posible caso: 5633 META ==> BAJA
5633 META , cruce medias: -1 , slope35: -0.29936972178026683 , slope50: -0.23436831610996997
posible caso: 5711 META ==> ALZA
5711 META , cruce medias: 1 , slope35: 0.5423945486275235 , slope50: 0.407858857352943
posible caso: 5878 META ==> BAJA
posible caso: 5938 META ==> ALZA
5938 META , cruce medias: 1 , slope35: 0.38356120945520983 , slope50: 0.3234905464661597
posible caso: 5958 META ==> BAJA
5958 META , cruce medias: -1 , slope35: -0.4321393453439748 , slope50: -0.35027781073837905
posible caso: 5989 META ==> ALZA
5989 META , cruce medias: 1 , slope35: 0.5106335340806699 , slope50: 0.3986993376455375
posible caso: 6027 META ==> BAJA
6027 META , cruce medias: -1 , slope35: -0.6302667919555777 , slope50: -0.5449918543376577
posible caso: 6082 META ==> ALZA
posible caso: 6187 META ==> BAJA
6187 META , cruce medias: -1 , slope35: -0.7159444350230832 , slope50: -0.580746925207645
posible caso: 6252 META ==> ALZA
6252 META , cruce medias: 1 , slope35: 0.6384197946229968 , slope50: 0.5171163552244694
posible caso: 6288 META ==> BAJA
posible caso: 6295 META ==> ALZA
6295 META , cruce medias: 1 , slope35: 0.47830999145452324 , slope50: 0.3511288656073248
posible caso: 6461 META ==> BAJA
6461 META , cruce medias: -1 , slope35: -1.3244779891878056 , slope50: -1.0739062871416079
posible caso: 6621 META ==> ALZA
posible caso: 6644 META ==> BAJA
6644 META , cruce medias: -1 , slope35: -0.815783989301766 , slope50: -0.6985348480288267
posible caso: 6776 META ==> ALZA
posible caso: 7051 META ==> BAJA
posible caso: 7073 META ==> ALZA
posible caso: 7097 AAPL ==> BAJA
posible caso: 7103 AAPL ==> ALZA
posible caso: 7186 AAPL ==> BAJA
7186 AAPL , cruce medias: -1 , slope35: -0.04936794141447933 , slope50: -0.03723409308935288
posible caso: 7197 AAPL ==> ALZA
7197 AAPL , cruce medias: 1 , slope35: 0.04931029116863736 , slope50: 0.037195742400264464
posible caso: 7302 AAPL ==> BAJA
posible caso: 7420 AAPL ==> ALZA
posible caso: 7473 AAPL ==> BAJA
posible caso: 7616 AAPL ==> ALZA
posible caso: 7680 AAPL ==> BAJA
posible caso: 7751 AAPL ==> ALZA
7751 AAPL , cruce medias: 1 , slope35: 0.25442370106362255 , slope50: 0.18742631318221062
posible caso: 7993 AAPL ==> BAJA
posible caso: 8108 AAPL ==> ALZA
8108 AAPL , cruce medias: 1 , slope35: 0.19595200577966354 , slope50: 0.17888652023085072
posible caso: 8165 AAPL ==> BAJA
8165 AAPL , cruce medias: -1 , slope35: -0.18842633269140252 , slope50: -0.15253791070341258
posible caso: 8394 AAPL ==> ALZA
8394 AAPL , cruce medias: 1 , slope35: 0.09242387764781992 , slope50: 0.07474148434043706
posible caso: 8419 AAPL ==> BAJA
posible caso: 8514 AAPL ==> ALZA
posible caso: 8539 AAPL ==> BAJA
8539 AAPL , cruce medias: -1 , slope35: -0.18049180224203984 , slope50: -0.14427425960779358
posible caso: 8587 AAPL ==> ALZA
8587 AAPL , cruce medias: 1 , slope35: 0.18814926293439066 , slope50: 0.14766498047593554
posible caso: 8983 AAPL ==> BAJA
8983 AAPL , cruce medias: -1 , slope35: -0.12761177805792057 , slope50: -0.09947671744765255
posible caso: 9100 AAPL ==> ALZA
posible caso: 9204 AAPL ==> BAJA
9204 AAPL , cruce medias: -1 , slope35: -0.2526903701078208 , slope50: -0.19217301412193658
posible caso: 9283 AAPL ==> ALZA
9283 AAPL , cruce medias: 1 , slope35: 0.26036768890952056 , slope50: 0.21568509164297203
posible caso: 9355 AAPL ==> BAJA
9355 AAPL , cruce medias: -1 , slope35: -0.09929345793867127 , slope50: -0.0721234544049878
posible caso: 9383 AAPL ==> ALZA
9383 AAPL , cruce medias: 1 , slope35: 0.15484883403164532 , slope50: 0.11221853303198373
posible caso: 9490 AAPL ==> BAJA
9490 AAPL , cruce medias: -1 , slope35: -0.27694399622997323 , slope50: -0.23122041647244088
posible caso: 9567 AAPL ==> ALZA
9567 AAPL , cruce medias: 1 , slope35: 0.05427114298441375 , slope50: 0.038257429616008864
posible caso: 9568 AAPL ==> BAJA
posible caso: 9576 AAPL ==> ALZA
9576 AAPL , cruce medias: 1 , slope35: 0.13513571680111017 , slope50: 0.0999072523734672
posible caso: 9777 AAPL ==> BAJA
9777 AAPL , cruce medias: -1 , slope35: -0.3541661653116367 , slope50: -0.2799563532096703
posible caso: 9893 AAPL ==> ALZA
9893 AAPL , cruce medias: 1 , slope35: 0.21981690536161383 , slope50: 0.19094970045169182
posible caso: 9931 AAPL ==> BAJA
posible caso: 9967 AAPL ==> ALZA
posible caso: 10043 AAPL ==> BAJA
10043 AAPL , cruce medias: -1 , slope35: -0.12258501042421269 , slope50: -0.0979536753598428
posible caso: 10165 AAPL ==> ALZA
10165 AAPL , cruce medias: 1 , slope35: 0.23106262337935607 , slope50: 0.17508425681394588
posible caso: 10212 AAPL ==> BAJA
posible caso: 10272 AAPL ==> ALZA
posible caso: 10279 AAPL ==> BAJA
10279 AAPL , cruce medias: -1 , slope35: -0.038968907096601814 , slope50: -0.03231494413345461
posible caso: 10302 AAPL ==> ALZA
posible caso: 10363 AAPL ==> BAJA
posible caso: 10398 AAPL ==> ALZA
posible caso: 10446 AAPL ==> BAJA
posible caso: 10508 AAPL ==> ALZA
10508 AAPL , cruce medias: 1 , slope35: 0.033841789733728755 , slope50: 0.027211462596467194
posible caso: 10545 AAPL ==> BAJA
posible caso: 10548 AAPL ==> ALZA
posible caso: 10551 AAPL ==> BAJA
posible caso: 10556 AAPL ==> ALZA
posible caso: 10565 AAPL ==> BAJA

In [10]:
#df_casos[['companyName', 'caso']].unique()
#resultado = df_casos.groupby(['companyName', 'caso'])['Close'].count().reset_index()
#resultado[resultado['companyName']=="META"].shape[0]

In [ ]:
#CODIGO DE REVISION CARLOS
#dfpl = df.iloc[500:600]
dfpl = df[df["companyName"]=="SPY"]

dfpl["Datetime_str"] = dfpl["datetime"].astype(str)

p = figure(width=2500, height=500,
        title="Canal Bajista - Alcista",
        background_fill_color="#efefef",
        tooltips=[("Index", "@index"),("datetime", "@Datetime_str"), ("Open", "@Open"), ("High","@High"), ("Low","@Low"), ("Close","@Close"),
                    ("EMA35", "@EMA35"),
                    ("EMA50", "@EMA50"),
                    ("SMA35", "@SMA35"),
                    ("SMA50", "@EMA50"),
                    ("cdlengulfing","@cdlengulfing"), 
                    ("cdlhammer","@cdlhammer"), 
                    ("cdlmorningstar","@cdlmorningstar"), 
                    ("cdlpiercing","@cdlpiercing"), 
                    ("cdlclosingmarubozu","@cdlclosingmarubozu"), 
                    ("cdlmarubozu","@cdlmarubozu"), 
                    ("cdl3whitesoldiers","@cdl3whitesoldiers"), 
                    ("cdlharami","@cdlharami"), 
                    ("cdlharamicross","@cdlharamicross"), 
                    ("cdlinvertdhammer","@cdlinvertdhammer"), 
                    ("cdlladderbottom","@cdlladderbottom")]
        #tooltips=[("Index", "@index"), ("Open", "@Open"), ("High","@High"), ("Low","@Low"), ("Close","@Close")]
        )
p.xaxis.major_label_orientation = 0.8 # radians
p.x_range.range_padding = 0.05
#p.xaxis.axis_line_join = "bevel" # radians
p.xaxis.axis_line_width = 2

p.segment("index", "High", "index","Low",  color="black", line_width=1, source=dfpl)

inc = dfpl.query("Close>Open")
dec = dfpl.query("Open>Close")

p.vbar(    
    x="index",
    width=0.6,
    bottom="Open",
    top="Close",
    fill_color="red",
    line_color="red",    
    source=dec   
)


p.vbar(    
    x="index",
    width=0.6,
    bottom="Open",
    top="Close",
    fill_color="green",
    line_color="green", 
    source=inc   
)

p.line(
    x="index", 
    y="SMA35", 
    color="white",
    legend_label="SMA35",
    source=dfpl)


p.line(
    x="index", 
    y="SMA50", 
    color="blue",
    legend_label="SMA50",
    source=dfpl)


p.line(
    x="index", 
    y="EMA35", 
    color="black",
    legend_label="EMA35",
    source=dfpl)


p.line(
    x="index", 
    y="EMA50", 
    color="red",
    legend_label="EMA50",
    source=dfpl)

#p.line(
#    x="index", 
#    y="SMA100", 
#    color="green",
#    legend_label="SMA100",
#    source=dfpl)
#
#p.line(
#    x="index", 
#    y="SMA200", 
#    color="purple",
#    legend_label="SMA200",
#    source=dfpl)



p.scatter(x="index", y="Low", marker="triangle", size=20,
           line_color="navy", fill_color="blue", alpha=0.5, legend_label="inicio1", source=dfpl[(dfpl.isBreakOutIni==1)])

p.scatter(x="index", y="High", marker="inverted_triangle", size=20,
           line_color="navy", fill_color="red", alpha=0.5, legend_label="inicio2", source=dfpl[(dfpl.isBreakOutIni==-1)])


p.scatter(x="index", y="High", marker="inverted_triangle", size=20,
           line_color="navy", fill_color="black", alpha=0.5, legend_label="fin1", source=dfpl[(dfpl.isBreakOutFinal==1)])

p.scatter(x="index", y="Low", marker="triangle", size=20,
           line_color="navy", fill_color="brown", alpha=0.5, legend_label="fin2", source=dfpl[(dfpl.isBreakOutFinal==-1)])




p.scatter(x="index", y="pivotHigh", marker="circle", size=5,
           line_color="navy", fill_color="blue", alpha=0.5, legend_label="Cambio Tendencia Bajista1", source=dfpl[(dfpl.isPivot==1)])

p.scatter(x="index", y="pivotLow", marker="circle", size=5,
           line_color="navy", fill_color="green", alpha=0.5, legend_label="Cambio Tendencia Alcista1", source=dfpl[(dfpl.isPivot==2)])


p.scatter(x="index", y="pivotHigh2", marker="diamond", size=8,
           line_color="navy", fill_color="blue", alpha=0.5, legend_label="Cambio Tendencia Bajista2", source=dfpl[(dfpl.isPivot2==1) & (dfpl.isPivot.isna()) ])

p.scatter(x="index", y="pivotLow2", marker="diamond", size=8,
           line_color="navy", fill_color="green", alpha=0.5, legend_label="Cambio Tendencia Alcista2", source=dfpl[(dfpl.isPivot2==2) & (dfpl.isPivot.isna())])

p.yaxis[0].formatter = NumeralTickFormatter(format="$0.00")
p.xaxis.axis_label = "Fecha"
p.yaxis.axis_label = "Precio"
p.legend.location="top_left"
p.legend.click_policy="hide"

#Render linea vertical
alza = (dfpl[(dfpl.ind_posicion==1)].index).tolist()
baja = (dfpl[(dfpl.ind_posicion==-1)].index).tolist()
#vline=Span(source=inicio,dimension='height', line_color='blue',line_width=0.8, line_dash_offset= 0, line_dash='dashed', name="hola esto es una prueba", level='annotation', tags= ['square'])
#p.renderers.extend([vline])

p.vspan(
    x=alza,
    line_color="blue"
)

p.vspan(
    x=baja,
    line_color="red"
)

show(p)

In [11]:
#descarga de informacion, estrategia: RUPTURA DEL CANAL BAJISTA
import os
#path = r'C:\Users\carlo\OneDrive\Documentos\TRADER\traderapp\data\rcb_h.txt'
path = r'D:\PRUEBAS\cba_h.txt'
# check whether the file exists
if os.path.exists(path):
    # delete the file
    os.remove(path)
else:
    # if the file does not exist.
    print("File does not exists. File needs to be created.")

#export DataFrame to text file
with open(path, 'a') as f:
    #df_string = appl_hor3.to_string(header=True, index=False, sep ='\t')
    df_casos.to_csv(path, header=True, index=None, sep='\t', mode='w')
    #f.write(df_string)

#### BACKTESTING
###### Usando paquete backtesting.py

In [12]:
from backtesting import Backtest, Strategy

C:\Users\LINDER\anaconda3\Lib\site-packages\backtesting\_plotting.py:55: UserWarning: Jupyter Notebook detected. Setting Bokeh output to notebook. This may not work in Jupyter clients without JavaScript support, such as old IDEs. Reset with `backtesting.set_bokeh_output(notebook=False)`.
  warnings.warn('Jupyter Notebook detected. '

In [13]:
df_backTesting = df.copy()
df_backTesting['isBreakOutIni'] = df_backTesting['isBreakOutIni'].shift(-1)
df_backTesting['isBreakOutFinal'] = df_backTesting['isBreakOutFinal'].shift(-1)
df_backTesting.set_index('datetime', inplace=True)

In [14]:
class StrategyCanalBajistaAlcista(Strategy):
    def init(self):
        # Registramos las señales como 'indicadores' para que Backtest las procese correctamente
        self.entry_signal = self.I(lambda x: x, self.data.isBreakOutIni)
        self.exit_signal = self.I(lambda x: x, self.data.isBreakOutFinal)

    def next(self):
        # Verificar si hay posición abierta
        in_position = self.position.is_long or self.position.is_short

        # Salida: si la señal coincide con el tipo de posición
        if in_position:
            if (self.position.is_long and self.exit_signal[-1] == 1) or \
               (self.position.is_short and self.exit_signal[-1] == -1):
                self.position.close()
                return

        # Entrada: abrir solo si no hay posición previa
        if not in_position:
            if self.entry_signal[-1] == 1:
                self.buy()
            elif self.entry_signal[-1] == -1:
                self.sell()

In [15]:
def run_backtests(df_backTesting, initial_cash=10_000, commission=0.0):
    # Asegurar índice datetime y orden cronológico
    df_backTesting = df_backTesting.copy()
    if not pd.api.types.is_datetime64_any_dtype(df_backTesting.index):
        if 'Date' in df_backTesting.columns:
            df_backTesting.index = pd.to_datetime(df_backTesting['Date'])
        else:
            df_backTesting.index = pd.to_datetime(df_backTesting.index)
    df_backTesting.sort_index(inplace=True)

    all_stats = []
    all_trades = []

    for ticker, data in df_backTesting.groupby('companyName'):
        # Verificar que haya suficientes datos
        if data.shape[0] < 2:
            continue

        bt = Backtest(
            data,
            StrategyCanalBajistaAlcista,
            cash=initial_cash,
            commission=commission
        )
        stats = bt.run()

        # Estadísticas por ticker
        stats_dict = {
            'Ticker': ticker,
            'Start': stats['Start'],
            'End': stats['End'],
            'Return [%]': stats['Return [%]'],
            'CAGR [%]': stats['Return (Ann.) [%]'],
            'Sharpe Ratio': stats['Sharpe Ratio'],
            'Max. Drawdown [%]': stats['Max. Drawdown [%]'],
            'Win Rate [%]': stats['Win Rate [%]'],
            '# Trades': stats['# Trades'],
            'Profit Factor': stats['Profit Factor'],
            'Expectancy [%]': stats['Expectancy [%]'],
            'Avg. Trade [%]': stats['Avg. Trade [%]'],
        }
        all_stats.append(stats_dict)

        # Detalle de operaciones
        trades_df = pd.DataFrame(stats['_trades'])
        if not trades_df.empty:
            trades_df['Ticker'] = ticker
            all_trades.append(trades_df)

    df_stats = pd.DataFrame(all_stats)
    df_trades = pd.concat(all_trades, ignore_index=True) if all_trades else pd.DataFrame()
    return df_stats, df_trades

In [16]:
df_stats, df_trades = run_backtests(df_backTesting, commission=0.001)

Backtest.run:   0%|          | 0/3400 [00:00<?, ?bar/s]

Backtest.run:   0%|          | 0/3333 [00:00<?, ?bar/s]

Backtest.run:   0%|          | 0/3473 [00:00<?, ?bar/s]

In [17]:
df_trades

,Size,EntryBar,ExitBar,EntryPrice,ExitPrice,SL,TP,PnL,ReturnPct,EntryTime,ExitTime,Duration,Tag,Entry_λ(isBreakOu…),Exit_λ(isBreakOu…),Ticker
0,57,668,762,174.240005,191.914993,None,None,1007.474304,0.101440,2023-11-03 13:30:00+00:00,2023-11-22 17:30:00+00:00,19 days 04:00:00,None,NaN,NaN,AAPL
1,57,1064,1112,190.869995,190.639999,None,None,-13.109756,-0.001205,2024-01-29 15:30:00+00:00,2024-02-07 14:30:00+00:00,8 days 23:00:00,None,NaN,NaN,AAPL
2,63,1326,1356,172.100098,173.000000,None,None,56.693848,0.005229,2024-03-21 17:30:00+00:00,2024-03-27 19:30:00+00:00,6 days 02:00:00,None,NaN,NaN,AAPL
3,-66,1473,1524,166.270004,172.384995,None,None,-403.589355,-0.036777,2024-04-22 17:30:00+00:00,2024-05-01 19:30:00+00:00,9 days 02:00:00,None,NaN,NaN,AAPL
4,-46,1907,1920,224.639999,219.489899,None,None,236.904633,0.022926,2024-07-23 14:30:00+00:00,2024-07-25 13:30:00+00:00,1 days 23:00:00,None,NaN,NaN,AAPL
5,-48,2123,2141,221.520004,220.837997,None,None,32.736328,0.003079,2024-09-05 13:30:00+00:00,2024-09-09 17:30:00+00:00,4 days 04:00:00,None,NaN,NaN,AAPL
6,47,2214,2248,229.179993,231.205002,None,None,95.175430,0.008836,2024-09-24 13:30:00+00:00,2024-09-30 19:30:00+00:00,6 days 06:00:00,None,NaN,NaN,AAPL
7,-48,2269,2283,223.710007,222.563995,None,None,55.008545,0.005123,2024-10-03 19:30:00+00:00,2024-10-07 19:30:00+00:00,4 days 00:00:00,None,NaN,NaN,AAPL
8,47,2298,2319,227.779999,233.589996,None,None,273.069885,0.025507,2024-10-10 13:30:00+00:00,2024-10-15 13:30:00+00:00,5 days 00:00:00,None,NaN,NaN,AAPL
9,-50,2431,2454,221.235504,222.779999,None,None,-77.224731,-0.006981,2024-11-06 14:30:00+00:00,2024-11-11 16:30:00+00:00,5 days 02:00:00,None,NaN,NaN,AAPL
10,48,2493,2496,228.050003,229.335007,None,None,61.680176,0.005635,2024-11-18 20:30:00+00:00,2024-11-19 16:30:00+00:00,0 days 20:00:00,None,NaN,NaN,AAPL
11,-45,2704,2731,245.539993,233.500000,None,None,541.799698,0.049035,2025-01-06 15:30:00+00:00,2025-01-13 14:30:00+00:00,6 days 23:00:00,None,NaN,NaN,AAPL
12,51,2831,2936,226.410004,246.535004,None,None,1026.375000,0.088887,2025-02-03 16:30:00+00:00,2025-02-25 16:30:00+00:00,22 days 00:00:00,None,NaN,NaN,AAPL
13,-52,2964,2977,241.229996,230.940002,None,None,535.079651,0.042656,2025-03-03 16:30:00+00:00,2025-03-05 15:30:00+00:00,1 days 23:00:00,None,NaN,NaN,AAPL
14,59,3086,3093,221.815002,224.350006,None,None,149.565216,0.011428,2025-03-26 18:30:00+00:00,2025-03-27 18:30:00+00:00,1 days 00:00:00,None,NaN,NaN,AAPL
15,-67,3197,3203,196.710007,191.119995,None,None,374.530777,0.028418,2025-04-17 17:30:00+00:00,2025-04-21 16:30:00+00:00,3 days 23:00:00,None,NaN,NaN,AAPL
16,67,3430,3441,200.740005,204.530000,None,None,253.929632,0.018880,2025-06-05 19:30:00+00:00,2025-06-09 07:00:00+00:00,3 days 11:30:00,None,NaN,NaN,AAPL
17,-32,268,290,305.035004,279.029999,None,None,832.160156,0.085253,2023-08-14 19:30:00+00:00,2023-08-18 13:30:00+00:00,3 days 18:00:00,None,NaN,NaN,META
18,36,364,400,296.100006,307.539093,None,None,411.807129,0.038633,2023-09-01 17:30:00+00:00,2023-09-11 18:30:00+00:00,10 days 01:00:00,None,NaN,NaN,META
19,-37,471,483,299.945007,296.529999,None,None,126.355316,0.011385,2023-09-25 19:30:00+00:00,2023-09-27 17:30:00+00:00,1 days 22:00:00,None,NaN,NaN,META
20,37,497,558,302.420013,327.494995,None,None,927.774323,0.082914,2023-09-29 17:30:00+00:00,2023-10-12 15:30:00+00:00,12 days 22:00:00,None,NaN,NaN,META
21,-38,612,629,316.779999,286.989288,None,None,1132.046997,0.094042,2023-10-24 13:30:00+00:00,2023-10-26 16:30:00+00:00,2 days 03:00:00,None,NaN,NaN,META
22,40,860,926,332.500000,359.070007,None,None,1062.800293,0.079910,2023-12-14 14:30:00+00:00,2023-12-28 17:30:00+00:00,14 days 03:00:00,None,NaN,NaN,META
23,-40,959,1007,351.730011,366.299988,None,None,-582.799072,-0.041424,2024-01-05 15:30:00+00:00,2024-01-17 14:30:00+00:00,11 days 23:00:00,None,NaN,NaN,META
24,-27,1307,1363,494.869995,488.940002,None,None,160.109802,0.011983,2024-03-18 19:30:00+00:00,2024-03-28 19:30:00+00:00,10 days 00:00:00,None,NaN,NaN,META
25,-28,1364,1469,486.929993,489.649994,None,None,-76.160034,-0.005586,2024-04-01 13:30:00+00:00,2024-04-22 13:30:00+00:00,21 days 00:00:00,None,NaN,NaN,META
26,30,1667,1693,456.309998,493.000000,None,None,1100.700073,0.080406,2024-05-31 15:30:00+00:00,2024-06-06 13:30:00+00:00,5 days 22:00:00,None,NaN,NaN,META
27,-30,1892,1920,479.429993,463.000000,None,None,492.899780,0.034270,2024-07-19 13:30:00+00:00,2024-07-25 13:30:00+00:00,6 days 00:00:00,None,NaN,NaN,META
28,31,1989,2027,493.109985,538.210022,None,None,1398.101135,0.091460,2024-08-07 19:30:00+00:00,2024-08-15 15:30:00+00:00,7 days 20:00:00,None,NaN,NaN,META
29,-31,2097,2134,524.419983,499.850006,None,None,761.669281,0.046852,2024-08-29 15:30:00+00:00,2024-09-06 17:30:00+00:00,8 days 02:00:00,None,NaN,NaN,META
30,33,2172,2225,524.539978,569.882507,None,None,1496.303467,0.086442,2024-09-16 13:30:00+00:00,2024-09-25 17:30:00+00:00,9 days 04:00:00,None,NaN,NaN,META
31,33,2407,2443,566.119995,592.330017,None,None,864.930725,0.046298,2024-10-31 17:30:00+00:00,2024-11-07 19:30:00+00:00,7 days 02:00:00,None,NaN,NaN,META
32,33,2452,2577,586.760010,624.924988,None,None,1259.444275,0.065044,2024-11-11 14:30:00+00:00,2024-12-06 17:30:00+00:00,25 days 03:00:00,None,NaN,NaN,META
33,-34,2659,2688,606.090027,590.479980,None,None,530.741577,0.025755,2024-12-24 15:30:00+00:00,2024-12-31 20:30:00+00:00,7 days 05:00:00,None,NaN,NaN,META
34,35,2719,2727,609.590027,613.955017,None,None,152.774658,0.007161,2025-01-08 16:30:00+00:00,2025-01-10 17:30:00+00:00,2 days 01:00:00,None,NaN,NaN,META
35,35,2752,2815,611.500000,696.820007,None,None,2986.200256,0.139526,2025-01-16 14:30:00+00:00,2025-01-30 14:30:00+00:00,14 days 00:00:00,None,NaN,NaN,META
36,-36,2943,2970,677.570007,627.729980,None,None,1794.240967,0.073557,2025-02-26 16:30:00+00:00,2025-03-04 15:30:00+00:00,5 days 23:00:00,None,NaN,NaN,META
37,-44,3119,3138,588.890015,505.010010,None,None,3690.720215,0.142437,2025-04-02 16:30:00+00:00,2025-04-07 14:30:00+00:00,4 days 22:00:00,None,NaN,NaN,META
38,-22,222,290,451.554993,433.369995,None,None,400.069946,0.040272,2023-08-04 15:30:00+00:00,2023-08-18 13:30:00+00:00,13 days 22:00:00,None,NaN,NaN,SPY
39,23,381,400,443.109985,448.429993,None,None,122.360168,0.012006,2023-09-07 13:30:00+00:00,2023-09-11 18:30:00+00:00,4 days 05:00:00,None,NaN,NaN,SPY
40,23,407,422,446.859985,450.309998,None,None,79.350281,0.007721,2023-09-12 18:30:00+00:00,2023-09-14 19:30:00+00:00,2 days 01:00:00,None,NaN,NaN,SPY
41,-23,446,482,443.274994,424.200012,None,None,438.724579,0.043032,2023-09-20 15:30:00+00:00,2023-09-27 16:30:00+00:00,7 days 01:00:00,None,NaN,NaN,SPY
42,-23,971,988,473.660004,473.049988,None,None,14.030365,0.001288,2024-01-08 20:30:00+00:00,2024-01-11 16:30:00+00:00,2 days 20:00:00,None,NaN,NaN,SPY
43,-21,1394,1467,517.789978,495.459991,None,None,468.929718,0.043126,2024-04-05 15:30:00+00:00,2024-04-19 18:30:00+00:00,14 days 03:00:00,None,NaN,NaN,SPY
44,-21,1672,1707,529.020020,533.179993,None,None,-87.359436,-0.007864,2024-06-03 13:30:00+00:00,2024-06-10 13:30:00+00:00,7 days 00:00:00,None,NaN,NaN,SPY
45,-20,1907,1926,556.020020,543.130005,None,None,257.800293,0.023183,2024-07-23 14:30:00+00:00,2024-07-25 19:30:00+00:00,2 days 05:00:00,None,NaN,NaN,SPY
46,20,2065,2067,557.039978,559.530029,None,None,49.801025,0.004470,2024-08-22 18:30:00+00:00,2024-08-23 13:30:00+00:00,0 days 19:00:00,None,NaN,NaN,SPY
47,19,2862,2912,600.609070,612.109985,None,None,218.517395,0.019149,2025-02-07 19:30:00+00:00,2025-02-19 20:30:00+00:00,12 days 01:00:00,None,NaN,NaN,SPY
48,-20,3119,3138,564.289978,498.190002,None,None,1321.999512,0.117138,2025-04-02 16:30:00+00:00,2025-04-07 14:30:00+00:00,4 days 22:00:00,None,NaN,NaN,SPY

In [38]:
df_trades[df_trades['Ticker']=='SPY']

,Size,EntryBar,ExitBar,EntryPrice,ExitPrice,SL,TP,PnL,ReturnPct,EntryTime,ExitTime,Duration,Tag,Entry_λ(isBreakOu…),Exit_λ(isBreakOu…),Ticker
38,-22,222,290,451.554993,433.369995,None,None,400.069946,0.040272,2023-08-04 15:30:00+00:00,2023-08-18 13:30:00+00:00,13 days 22:00:00,None,NaN,NaN,SPY
39,23,381,400,443.109985,448.429993,None,None,122.360168,0.012006,2023-09-07 13:30:00+00:00,2023-09-11 18:30:00+00:00,4 days 05:00:00,None,NaN,NaN,SPY
40,23,407,422,446.859985,450.309998,None,None,79.350281,0.007721,2023-09-12 18:30:00+00:00,2023-09-14 19:30:00+00:00,2 days 01:00:00,None,NaN,NaN,SPY
41,-23,446,482,443.274994,424.200012,None,None,438.724579,0.043032,2023-09-20 15:30:00+00:00,2023-09-27 16:30:00+00:00,7 days 01:00:00,None,NaN,NaN,SPY
42,-23,971,988,473.660004,473.049988,None,None,14.030365,0.001288,2024-01-08 20:30:00+00:00,2024-01-11 16:30:00+00:00,2 days 20:00:00,None,NaN,NaN,SPY
43,-21,1394,1467,517.789978,495.459991,None,None,468.929718,0.043126,2024-04-05 15:30:00+00:00,2024-04-19 18:30:00+00:00,14 days 03:00:00,None,NaN,NaN,SPY
44,-21,1672,1707,529.020020,533.179993,None,None,-87.359436,-0.007864,2024-06-03 13:30:00+00:00,2024-06-10 13:30:00+00:00,7 days 00:00:00,None,NaN,NaN,SPY
45,-20,1907,1926,556.020020,543.130005,None,None,257.800293,0.023183,2024-07-23 14:30:00+00:00,2024-07-25 19:30:00+00:00,2 days 05:00:00,None,NaN,NaN,SPY
46,20,2065,2067,557.039978,559.530029,None,None,49.801025,0.004470,2024-08-22 18:30:00+00:00,2024-08-23 13:30:00+00:00,0 days 19:00:00,None,NaN,NaN,SPY
47,19,2862,2912,600.609070,612.109985,None,None,218.517395,0.019149,2025-02-07 19:30:00+00:00,2025-02-19 20:30:00+00:00,12 days 01:00:00,None,NaN,NaN,SPY
48,-20,3119,3138,564.289978,498.190002,None,None,1321.999512,0.117138,2025-04-02 16:30:00+00:00,2025-04-07 14:30:00+00:00,4 days 22:00:00,None,NaN,NaN,SPY

In [42]:
df_casos[(df_casos['companyName']=='SPY') & ((df_casos['isBreakOutIni']==1) | (df_casos['isBreakOutFinal']==1)) ]

,Close,High,Low,Open,Volume,datetime,companyName,SMA35,SMA50,EMA35,...,cdlmarubozu,cdl3whitesoldiers,cdlharami,cdlharamicross,cdlinvertdhammer,cdlladderbottom,ind_posicion,isBreakOutIni,isBreakOutFinal,caso
74,437.350006,437.850006,437.059998,437.730011,9701525,2023-07-06 14:30:00+00:00,SPY,440.002088,438.025425,440.214176,...,0,0,0,0,0,0,NaN,1.0,-1.0,2
136,455.820007,456.339996,455.010010,455.010010,13482023,2023-07-19 13:30:00+00:00,SPY,449.985440,447.151818,449.892159,...,0,0,0,0,0,0,NaN,NaN,1.0,2
381,443.230011,444.399994,442.804993,443.109985,12884460,2023-09-07 13:30:00+00:00,SPY,449.574809,448.297410,447.674797,...,0,0,0,0,0,0,NaN,1.0,NaN,4
400,448.589996,448.700012,448.170013,448.429993,6566213,2023-09-11 18:30:00+00:00,SPY,446.884119,448.193675,446.932618,...,0,0,0,0,0,0,NaN,NaN,1.0,4
381,443.230011,444.399994,442.804993,443.109985,12884460,2023-09-07 13:30:00+00:00,SPY,449.574809,448.297410,447.674797,...,0,0,0,0,0,0,NaN,1.0,NaN,5
400,448.589996,448.700012,448.170013,448.429993,6566213,2023-09-11 18:30:00+00:00,SPY,446.884119,448.193675,446.932618,...,0,0,0,0,0,0,NaN,NaN,1.0,5
407,445.630005,446.980011,445.390015,446.859985,9169512,2023-09-12 18:30:00+00:00,SPY,446.261238,447.556110,446.974801,...,0,0,0,0,0,0,NaN,1.0,NaN,5
422,450.399994,450.649994,450.112915,450.309998,15177636,2023-09-14 19:30:00+00:00,SPY,447.476887,446.842945,447.893030,...,0,0,0,0,0,0,NaN,NaN,1.0,5
381,443.230011,444.399994,442.804993,443.109985,12884460,2023-09-07 13:30:00+00:00,SPY,449.574809,448.297410,447.674797,...,0,0,0,0,0,0,NaN,1.0,NaN,6
400,448.589996,448.700012,448.170013,448.429993,6566213,2023-09-11 18:30:00+00:00,SPY,446.884119,448.193675,446.932618,...,0,0,0,0,0,0,NaN,NaN,1.0,6
407,445.630005,446.980011,445.390015,446.859985,9169512,2023-09-12 18:30:00+00:00,SPY,446.261238,447.556110,446.974801,...,0,0,0,0,0,0,NaN,1.0,NaN,6
422,450.399994,450.649994,450.112915,450.309998,15177636,2023-09-14 19:30:00+00:00,SPY,447.476887,446.842945,447.893030,...,0,0,0,0,0,0,NaN,NaN,1.0,6
988,472.940002,473.618988,472.260010,473.049988,9033453,2024-01-11 16:30:00+00:00,SPY,471.981171,471.568831,473.171339,...,0,0,0,0,0,0,NaN,1.0,-1.0,8
997,476.910004,477.339996,476.490112,476.640015,5334534,2024-01-12 18:30:00+00:00,SPY,473.985689,472.479108,474.409085,...,0,0,0,0,0,0,NaN,NaN,1.0,8
2065,555.780029,557.299988,555.549988,557.039978,4618372,2024-08-22 18:30:00+00:00,SPY,557.530176,554.204326,556.064555,...,0,0,0,0,0,0,NaN,1.0,NaN,12
2067,562.690002,563.090027,558.830017,559.530029,11312840,2024-08-23 13:30:00+00:00,SPY,557.897724,554.917928,556.440268,...,0,0,0,0,0,0,NaN,NaN,1.0,12
2862,600.400024,601.599976,600.049988,600.609070,3536559,2025-02-07 19:30:00+00:00,SPY,601.787519,602.731140,602.778577,...,0,0,0,0,0,0,NaN,1.0,NaN,13
2912,612.900024,613.059998,612.080017,612.109985,5357638,2025-02-19 20:30:00+00:00,SPY,608.381109,607.170966,609.031700,...,0,0,0,0,0,0,NaN,NaN,1.0,13
3538,598.919000,601.500000,598.880000,600.750000,523997,2025-06-16 19:00:00+00:00,SPY,599.929989,600.381332,600.793121,...,0,0,0,0,0,0,NaN,1.0,NaN,16

In [30]:
ini=(df_casos[df_casos['isBreakOutIni']==1]).copy()
df_casos_ini=ini.rename(columns={'Open':'EntryPrice','datetime':'EntryTime','companyName':'Ticker'})[['EntryPrice','Ticker','caso','EntryTime']]

In [31]:
df_casos_ini

       EntryPrice Ticker  caso                 EntryTime
74     437.730011    SPY     2 2023-07-06 14:30:00+00:00
381    443.109985    SPY     4 2023-09-07 13:30:00+00:00
381    443.109985    SPY     5 2023-09-07 13:30:00+00:00
407    446.859985    SPY     5 2023-09-12 18:30:00+00:00
381    443.109985    SPY     6 2023-09-07 13:30:00+00:00
407    446.859985    SPY     6 2023-09-12 18:30:00+00:00
988    473.049988    SPY     8 2024-01-11 16:30:00+00:00
2065   557.039978    SPY    12 2024-08-22 18:30:00+00:00
2862   600.609070    SPY    13 2025-02-07 19:30:00+00:00
3538   600.750000    SPY    16 2025-06-16 19:00:00+00:00
3746   317.535004   META     2 2023-08-01 13:30:00+00:00
3746   317.535004   META     3 2023-08-01 13:30:00+00:00
3911   296.100006   META     4 2023-09-01 17:30:00+00:00
4044   302.420013   META     6 2023-09-29 17:30:00+00:00
4407   332.500000   META     8 2023-12-14 14:30:00+00:00
5214   456.309998   META    12 2024-05-31 15:30:00+00:00
5214   456.309998   META    13 2024-05-31 15:30:00+00:00
5536   493.109985   META    15 2024-08-07 19:30:00+00:00
5719   524.539978   META    17 2024-09-16 13:30:00+00:00
5954   566.119995   META    18 2024-10-31 17:30:00+00:00
5954   566.119995   META    19 2024-10-31 17:30:00+00:00
5954   566.119995   META    20 2024-10-31 17:30:00+00:00
5999   586.760010   META    20 2024-11-11 14:30:00+00:00
5954   566.119995   META    21 2024-10-31 17:30:00+00:00
5999   586.760010   META    21 2024-11-11 14:30:00+00:00
6266   609.590027   META    23 2025-01-08 16:30:00+00:00
6266   609.590027   META    24 2025-01-08 16:30:00+00:00
6299   611.500000   META    24 2025-01-16 14:30:00+00:00
7205   190.365005   AAPL     2 2023-07-14 15:30:00+00:00
7756   174.240005   AAPL     3 2023-11-03 13:30:00+00:00
8152   190.869995   AAPL     4 2024-01-29 15:30:00+00:00
8152   190.869995   AAPL     5 2024-01-29 15:30:00+00:00
8414   172.100098   AAPL     6 2024-03-21 17:30:00+00:00
8605   172.740005   AAPL     8 2024-04-30 19:30:00+00:00
9302   229.179993   AAPL    11 2024-09-24 13:30:00+00:00
9302   229.179993   AAPL    12 2024-09-24 13:30:00+00:00
9386   227.779999   AAPL    13 2024-10-10 13:30:00+00:00
9581   228.050003   AAPL    15 2024-11-18 20:30:00+00:00
9581   228.050003   AAPL    16 2024-11-18 20:30:00+00:00
9919   226.410004   AAPL    18 2025-02-03 16:30:00+00:00
10174  221.815002   AAPL    20 2025-03-26 18:30:00+00:00
10518  200.740005   AAPL    22 2025-06-05 19:30:00+00:00

In [44]:
final=(df_casos[df_casos['isBreakOutFinal']==1]).copy()
df_casos_final=final.rename(columns={'Open':'ExitPrice','companyName':'Ticker','datetime':'ExitTime'})[['ExitPrice','Ticker','ExitTime','caso']]

In [45]:
df_casos_final

        ExitPrice Ticker                  ExitTime  caso
136    455.010010    SPY 2023-07-19 13:30:00+00:00     2
400    448.429993    SPY 2023-09-11 18:30:00+00:00     4
400    448.429993    SPY 2023-09-11 18:30:00+00:00     5
422    450.309998    SPY 2023-09-14 19:30:00+00:00     5
400    448.429993    SPY 2023-09-11 18:30:00+00:00     6
422    450.309998    SPY 2023-09-14 19:30:00+00:00     6
997    476.640015    SPY 2024-01-12 18:30:00+00:00     8
2067   559.530029    SPY 2024-08-23 13:30:00+00:00    12
2912   612.109985    SPY 2025-02-19 20:30:00+00:00    13
3780   315.510010   META 2023-08-07 19:30:00+00:00     2
3780   315.510010   META 2023-08-07 19:30:00+00:00     3
3947   307.539093   META 2023-09-11 18:30:00+00:00     4
3947   307.539093   META 2023-09-11 18:30:00+00:00     5
4105   327.494995   META 2023-10-12 15:30:00+00:00     6
4105   327.494995   META 2023-10-12 15:30:00+00:00     7
4473   359.070007   META 2023-12-28 17:30:00+00:00     8
4473   359.070007   META 2023-12-28 17:30:00+00:00     9
5240   493.000000   META 2024-06-06 13:30:00+00:00    12
5240   493.000000   META 2024-06-06 13:30:00+00:00    13
5574   538.210022   META 2024-08-15 15:30:00+00:00    15
5574   538.210022   META 2024-08-15 15:30:00+00:00    16
5772   569.882507   META 2024-09-25 17:30:00+00:00    17
5990   592.330017   META 2024-11-07 19:30:00+00:00    18
5990   592.330017   META 2024-11-07 19:30:00+00:00    19
5990   592.330017   META 2024-11-07 19:30:00+00:00    20
6124   624.924988   META 2024-12-06 17:30:00+00:00    20
5990   592.330017   META 2024-11-07 19:30:00+00:00    21
6124   624.924988   META 2024-12-06 17:30:00+00:00    22
6274   613.955017   META 2025-01-10 17:30:00+00:00    23
6274   613.955017   META 2025-01-10 17:30:00+00:00    24
6362   696.820007   META 2025-01-30 14:30:00+00:00    24
7229   194.649994   AAPL 2023-07-19 18:30:00+00:00     2
7850   191.914993   AAPL 2023-11-22 17:30:00+00:00     3
8200   190.639999   AAPL 2024-02-07 14:30:00+00:00     4
8200   190.639999   AAPL 2024-02-07 14:30:00+00:00     5
8444   173.000000   AAPL 2024-03-27 19:30:00+00:00     6
8624   185.360001   AAPL 2024-05-03 17:30:00+00:00     8
9336   231.205002   AAPL 2024-09-30 19:30:00+00:00    11
9336   231.205002   AAPL 2024-09-30 19:30:00+00:00    12
9336   231.205002   AAPL 2024-09-30 19:30:00+00:00    13
9407   233.589996   AAPL 2024-10-15 13:30:00+00:00    13
9584   229.335007   AAPL 2024-11-19 16:30:00+00:00    15
9584   229.335007   AAPL 2024-11-19 16:30:00+00:00    16
10024  246.535004   AAPL 2025-02-25 16:30:00+00:00    18
10024  246.535004   AAPL 2025-02-25 16:30:00+00:00    19
10181  224.350006   AAPL 2025-03-27 18:30:00+00:00    20
10529  204.530000   AAPL 2025-06-09 07:00:00+00:00    22

In [46]:
df_merge_alcista=df_casos_ini.merge(df_casos_final,on=['Ticker','caso'], how='outer')

In [47]:
df_merge_alcista

,EntryPrice,Ticker,caso,EntryTime,ExitPrice,ExitTime
0,190.365005,AAPL,2,2023-07-14 15:30:00+00:00,194.649994,2023-07-19 18:30:00+00:00
1,174.240005,AAPL,3,2023-11-03 13:30:00+00:00,191.914993,2023-11-22 17:30:00+00:00
2,190.869995,AAPL,4,2024-01-29 15:30:00+00:00,190.639999,2024-02-07 14:30:00+00:00
3,190.869995,AAPL,5,2024-01-29 15:30:00+00:00,190.639999,2024-02-07 14:30:00+00:00
4,172.100098,AAPL,6,2024-03-21 17:30:00+00:00,173.000000,2024-03-27 19:30:00+00:00
5,172.740005,AAPL,8,2024-04-30 19:30:00+00:00,185.360001,2024-05-03 17:30:00+00:00
6,229.179993,AAPL,11,2024-09-24 13:30:00+00:00,231.205002,2024-09-30 19:30:00+00:00
7,229.179993,AAPL,12,2024-09-24 13:30:00+00:00,231.205002,2024-09-30 19:30:00+00:00
8,227.779999,AAPL,13,2024-10-10 13:30:00+00:00,231.205002,2024-09-30 19:30:00+00:00
9,227.779999,AAPL,13,2024-10-10 13:30:00+00:00,233.589996,2024-10-15 13:30:00+00:00
10,228.050003,AAPL,15,2024-11-18 20:30:00+00:00,229.335007,2024-11-19 16:30:00+00:00
11,228.050003,AAPL,16,2024-11-18 20:30:00+00:00,229.335007,2024-11-19 16:30:00+00:00
12,226.410004,AAPL,18,2025-02-03 16:30:00+00:00,246.535004,2025-02-25 16:30:00+00:00
13,NaN,AAPL,19,NaT,246.535004,2025-02-25 16:30:00+00:00
14,221.815002,AAPL,20,2025-03-26 18:30:00+00:00,224.350006,2025-03-27 18:30:00+00:00
15,200.740005,AAPL,22,2025-06-05 19:30:00+00:00,204.530000,2025-06-09 07:00:00+00:00
16,317.535004,META,2,2023-08-01 13:30:00+00:00,315.510010,2023-08-07 19:30:00+00:00
17,317.535004,META,3,2023-08-01 13:30:00+00:00,315.510010,2023-08-07 19:30:00+00:00
18,296.100006,META,4,2023-09-01 17:30:00+00:00,307.539093,2023-09-11 18:30:00+00:00
19,NaN,META,5,NaT,307.539093,2023-09-11 18:30:00+00:00
20,302.420013,META,6,2023-09-29 17:30:00+00:00,327.494995,2023-10-12 15:30:00+00:00
21,NaN,META,7,NaT,327.494995,2023-10-12 15:30:00+00:00
22,332.500000,META,8,2023-12-14 14:30:00+00:00,359.070007,2023-12-28 17:30:00+00:00
23,NaN,META,9,NaT,359.070007,2023-12-28 17:30:00+00:00
24,456.309998,META,12,2024-05-31 15:30:00+00:00,493.000000,2024-06-06 13:30:00+00:00
25,456.309998,META,13,2024-05-31 15:30:00+00:00,493.000000,2024-06-06 13:30:00+00:00
26,493.109985,META,15,2024-08-07 19:30:00+00:00,538.210022,2024-08-15 15:30:00+00:00
27,NaN,META,16,NaT,538.210022,2024-08-15 15:30:00+00:00
28,524.539978,META,17,2024-09-16 13:30:00+00:00,569.882507,2024-09-25 17:30:00+00:00
29,566.119995,META,18,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
30,566.119995,META,19,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
31,566.119995,META,20,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
32,566.119995,META,20,2024-10-31 17:30:00+00:00,624.924988,2024-12-06 17:30:00+00:00
33,586.760010,META,20,2024-11-11 14:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
34,586.760010,META,20,2024-11-11 14:30:00+00:00,624.924988,2024-12-06 17:30:00+00:00
35,566.119995,META,21,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
36,586.760010,META,21,2024-11-11 14:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
37,NaN,META,22,NaT,624.924988,2024-12-06 17:30:00+00:00
38,609.590027,META,23,2025-01-08 16:30:00+00:00,613.955017,2025-01-10 17:30:00+00:00
39,609.590027,META,24,2025-01-08 16:30:00+00:00,613.955017,2025-01-10 17:30:00+00:00
40,609.590027,META,24,2025-01-08 16:30:00+00:00,696.820007,2025-01-30 14:30:00+00:00
41,611.500000,META,24,2025-01-16 14:30:00+00:00,613.955017,2025-01-10 17:30:00+00:00
42,611.500000,META,24,2025-01-16 14:30:00+00:00,696.820007,2025-01-30 14:30:00+00:00
43,437.730011,SPY,2,2023-07-06 14:30:00+00:00,455.010010,2023-07-19 13:30:00+00:00
44,443.109985,SPY,4,2023-09-07 13:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
45,443.109985,SPY,5,2023-09-07 13:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
46,443.109985,SPY,5,2023-09-07 13:30:00+00:00,450.309998,2023-09-14 19:30:00+00:00
47,446.859985,SPY,5,2023-09-12 18:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
48,446.859985,SPY,5,2023-09-12 18:30:00+00:00,450.309998,2023-09-14 19:30:00+00:00
49,443.109985,SPY,6,2023-09-07 13:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
50,443.109985,SPY,6,2023-09-07 13:30:00+00:00,450.309998,2023-09-14 19:30:00+00:00
51,446.859985,SPY,6,2023-09-12 18:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
52,446.859985,SPY,6,2023-09-12 18:30:00+00:00,450.309998,2023-09-14 19:30:00+00:00
53,473.049988,SPY,8,2024-01-11 16:30:00+00:00,476.640015,2024-01-12 18:30:00+00:00
54,557.039978,SPY,12,2024-08-22 18:30:00+00:00,559.530029,2024-08-23 13:30:00+00:00
55,600.609070,SPY,13,2025-02-07 19:30:00+00:00,612.109985,2025-02-19 20:30:00+00:00
56,600.750000,SPY,16,2025-06-16 19:00:00+00:00,NaN,NaT

In [48]:
df_casos_ini['seq']   = df_casos_ini.groupby(['Ticker','caso']).cumcount() + 1
df_casos_final['seq'] = df_casos_final.groupby(['Ticker','caso']).cumcount() + 1

In [49]:
# 3) Haz el merge incluyendo esa 'seq'
df_merge = (df_casos_ini
    .merge(df_casos_final, on=['Ticker','caso','seq'], how='outer')
    .drop(columns='seq')  # si ya no la necesitas
)

In [50]:
df_merge

,EntryPrice,Ticker,caso,EntryTime,ExitPrice,ExitTime
0,190.365005,AAPL,2,2023-07-14 15:30:00+00:00,194.649994,2023-07-19 18:30:00+00:00
1,174.240005,AAPL,3,2023-11-03 13:30:00+00:00,191.914993,2023-11-22 17:30:00+00:00
2,190.869995,AAPL,4,2024-01-29 15:30:00+00:00,190.639999,2024-02-07 14:30:00+00:00
3,190.869995,AAPL,5,2024-01-29 15:30:00+00:00,190.639999,2024-02-07 14:30:00+00:00
4,172.100098,AAPL,6,2024-03-21 17:30:00+00:00,173.000000,2024-03-27 19:30:00+00:00
5,172.740005,AAPL,8,2024-04-30 19:30:00+00:00,185.360001,2024-05-03 17:30:00+00:00
6,229.179993,AAPL,11,2024-09-24 13:30:00+00:00,231.205002,2024-09-30 19:30:00+00:00
7,229.179993,AAPL,12,2024-09-24 13:30:00+00:00,231.205002,2024-09-30 19:30:00+00:00
8,227.779999,AAPL,13,2024-10-10 13:30:00+00:00,231.205002,2024-09-30 19:30:00+00:00
9,NaN,AAPL,13,NaT,233.589996,2024-10-15 13:30:00+00:00
10,228.050003,AAPL,15,2024-11-18 20:30:00+00:00,229.335007,2024-11-19 16:30:00+00:00
11,228.050003,AAPL,16,2024-11-18 20:30:00+00:00,229.335007,2024-11-19 16:30:00+00:00
12,226.410004,AAPL,18,2025-02-03 16:30:00+00:00,246.535004,2025-02-25 16:30:00+00:00
13,NaN,AAPL,19,NaT,246.535004,2025-02-25 16:30:00+00:00
14,221.815002,AAPL,20,2025-03-26 18:30:00+00:00,224.350006,2025-03-27 18:30:00+00:00
15,200.740005,AAPL,22,2025-06-05 19:30:00+00:00,204.530000,2025-06-09 07:00:00+00:00
16,317.535004,META,2,2023-08-01 13:30:00+00:00,315.510010,2023-08-07 19:30:00+00:00
17,317.535004,META,3,2023-08-01 13:30:00+00:00,315.510010,2023-08-07 19:30:00+00:00
18,296.100006,META,4,2023-09-01 17:30:00+00:00,307.539093,2023-09-11 18:30:00+00:00
19,NaN,META,5,NaT,307.539093,2023-09-11 18:30:00+00:00
20,302.420013,META,6,2023-09-29 17:30:00+00:00,327.494995,2023-10-12 15:30:00+00:00
21,NaN,META,7,NaT,327.494995,2023-10-12 15:30:00+00:00
22,332.500000,META,8,2023-12-14 14:30:00+00:00,359.070007,2023-12-28 17:30:00+00:00
23,NaN,META,9,NaT,359.070007,2023-12-28 17:30:00+00:00
24,456.309998,META,12,2024-05-31 15:30:00+00:00,493.000000,2024-06-06 13:30:00+00:00
25,456.309998,META,13,2024-05-31 15:30:00+00:00,493.000000,2024-06-06 13:30:00+00:00
26,493.109985,META,15,2024-08-07 19:30:00+00:00,538.210022,2024-08-15 15:30:00+00:00
27,NaN,META,16,NaT,538.210022,2024-08-15 15:30:00+00:00
28,524.539978,META,17,2024-09-16 13:30:00+00:00,569.882507,2024-09-25 17:30:00+00:00
29,566.119995,META,18,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
30,566.119995,META,19,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
31,566.119995,META,20,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
32,586.760010,META,20,2024-11-11 14:30:00+00:00,624.924988,2024-12-06 17:30:00+00:00
33,566.119995,META,21,2024-10-31 17:30:00+00:00,592.330017,2024-11-07 19:30:00+00:00
34,586.760010,META,21,2024-11-11 14:30:00+00:00,NaN,NaT
35,NaN,META,22,NaT,624.924988,2024-12-06 17:30:00+00:00
36,609.590027,META,23,2025-01-08 16:30:00+00:00,613.955017,2025-01-10 17:30:00+00:00
37,609.590027,META,24,2025-01-08 16:30:00+00:00,613.955017,2025-01-10 17:30:00+00:00
38,611.500000,META,24,2025-01-16 14:30:00+00:00,696.820007,2025-01-30 14:30:00+00:00
39,437.730011,SPY,2,2023-07-06 14:30:00+00:00,455.010010,2023-07-19 13:30:00+00:00
40,443.109985,SPY,4,2023-09-07 13:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
41,443.109985,SPY,5,2023-09-07 13:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
42,446.859985,SPY,5,2023-09-12 18:30:00+00:00,450.309998,2023-09-14 19:30:00+00:00
43,443.109985,SPY,6,2023-09-07 13:30:00+00:00,448.429993,2023-09-11 18:30:00+00:00
44,446.859985,SPY,6,2023-09-12 18:30:00+00:00,450.309998,2023-09-14 19:30:00+00:00
45,473.049988,SPY,8,2024-01-11 16:30:00+00:00,476.640015,2024-01-12 18:30:00+00:00
46,557.039978,SPY,12,2024-08-22 18:30:00+00:00,559.530029,2024-08-23 13:30:00+00:00
47,600.609070,SPY,13,2025-02-07 19:30:00+00:00,612.109985,2025-02-19 20:30:00+00:00
48,600.750000,SPY,16,2025-06-16 19:00:00+00:00,NaN,NaT